.card {
	overflow: hidden;
	position: relative;
}
.cardImg{
  position: absolute;
  right:30px;
  top:30px;
  width:150px;
  height:150px;
  border:1px solid white;
  border-radius: 50%;
}
.card__texture {
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}
.card {
	animation-name: rotate;
	background-color: #872341;;
	
	border-radius: 0.5em;
	box-shadow:
		0 0 0 hsl(0,0%,80%),
		0 0 0 hsl(0,0%,100%),
		-0.2rem 0 0.75rem 0 hsla(0,0%,0%,0.3);
	color: hsl(0,0%,100%);
	width: 100%;
	height: 300px;
	transform: translate3d(0,0,0);
}
.card__info,

.card__texture {
	position: absolute;
}

.card__texture {
	animation-name: texture;
	top: 0;
	left: 0;
	width: 200%;
	height: 100%;
}
.card__info {
	font: 0.75em/1 "DM Sans", sans-serif;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 0.75rem;
	inset: 0;
}
.card__logo{
	width: 100%;
}
.card__logo {
	font-weight: bold;
	font-style: italic;
	font-size:30px;
}
.card__number {
  width: 100%;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}
.card__type {
	align-self: flex-end;
	margin-left: auto;
	font-size:15px;
}

.card__name {
	background: linear-gradient(hsl(0,0%,100%),hsl(0,0%,85%) 15% 55%,hsl(0,0%,70%) 70%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: "Courier Prime", monospace;
	filter: drop-shadow(0 0.05rem hsla(0,0%,0%,0.3));
	
}

.card__texture {
	animation-name: texture;
	background-image: linear-gradient(-80deg,hsla(0,0%,100%,0.3) 25%,hsla(0,0%,100%,0) 45%);
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),10%,30%);
		--fg: hsl(var(--hue),10%,90%);
	}
}

/* Animation */
@keyframes rotate {
	from,
	to {
		animation-timing-function: ease-in;
		box-shadow:
			0 0 0 hsl(0,0%,80%),
			0.1rem 0 0 hsl(0,0%,100%),
			-0.2rem 0 0.75rem 0 hsla(0,0%,0%,0.3);
		transform: rotateY(-10deg);
	}
	25%,
	75% {
		animation-timing-function: ease-out;
		box-shadow:
			0 0 0 hsl(0,0%,80%),
			0 0 0 hsl(0,0%,100%),
			-0.25rem -0.05rem 1rem 0.15rem hsla(0,0%,0%,0.3);
		transform: rotateY(0deg);
	}
	50% {
		animation-timing-function: ease-in;
		box-shadow:
			-0.1rem 0 0 hsl(0,0%,80%),
			0 0 0 hsl(0,0%,100%),
			-0.3rem -0.1rem 1.5rem 0.3rem hsla(0,0%,0%,0.3);
		transform: rotateY(10deg);
	}
}
@keyframes texture {
	from,
	to {
		transform: translate3d(0,0,0);
	}
	50% {
		transform: translate3d(-50%,0,0);
	}
}